# Entorno virtual
venv/
.venv/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno (sensibles)
.env
*.env
.env.local
.env.bak

# Logs
*.log
logs/

# Cache y entornos
__pycache__/
*.pyc
venv/
env/

# Sistema
.DS_Store
Thumbs.db